body {
    font-family: 'Sora', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.graduated-style {
    font-weight: 800;
    color: white;
    text-shadow: 
        2px 2px 0px black,
        -2px -2px 0px black, 
        2px -2px 0px black,
        -2px 2px 0px black;
    
}

html {
    scroll-behavior: smooth;
}